#modal{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
}
#modal_window {
    height: 80%;
    width: 60%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 8px 80px -13px rgba(0, 0, 0, 1);
}
#modal_close {
    position: absolute;
    top:0;
    right:0;
    z-index: 1;
    background-color: red;
    margin:0;
    padding: 0px 1em 0px 1em;
    cursor: pointer;
}
#export_code_textarea{
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    border-radius: 3px;
    align-items: center;
    cursor: default;
    width:100%;
    resize: none;
    padding: 0;
    border: 0;
    tab-size: 4;
}
#file_upload_wrapper{
    display: none;
    width:100%;
    height: 100%;
    background-color: #ffffff;
}
#edit_script_wrapper {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
#edit_script_textarea{
    border-radius: 3px;
    width:100%;
    height: calc(100% - 21px - 10px - 10px);   /* 21px is 1em of a <p></p>. Textarea has a different em*/
    resize: none;
    padding: 0;
    border: 0;
    tab-size: 4;
}
.button_modal{
    display: inline-block;
    float: right;
    margin: 5px 5px 5px 0px;
}
#save_script{ /*TODO: hover*/
    background-color: #00d682;
}
#reset_script{

}
.modal_top_half, .modal_bottom_half{
    height: calc(50% - 9px - 4px);
    width: calc(100% - 12px - 4px);
    margin: 6px;
    border-radius: 3px;
    border: 2px solid #dddddd;
    display: none;
    align-items: center;
    cursor: default;
}
.modal_top_half{
    margin-bottom: 3px;
}
.modal_bottom_half{
    margin-top: 3px;
}
.modal_top_half p, .modal_bottom_half p{
    color: #676767;
    width: 100%;
    text-align: center;
    font-size: 1.7em;
}
.modal_file_done{
    display: none;
    border: 2px solid #00d682;
    background-color: #00d682;
}
.modal_file_done p{
    color: #ffffff;
}
.modal_file_loading{
    display: none;
}
.modal_top_half{
    position: absolute;
    top: 0;
}
.modal_bottom_half{
    position: absolute;
    bottom: 0;
}
#import_processing{
    position: absolute;
    top: 0;
    bottom: 0;
    border: 2px solid #00d682;
    background-color: #00d682;
    margin: 6px;
    display: none;
    left: 0;
    right: 0;
    border-radius: 3px;
    align-items: center;
    cursor: default;
}