html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border:0;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}
.fa{
    width: 1.2em;
}
#main_canvas{
    z-index: 0;
    position: absolute;
    /*float: left;*/
    /*display: inline-block;*/
    /*background-color: #000000;*/
    /*flex:3;*/
    /*height:100%;*/
    /*width:70%;*/
}
#camera_preview_wrapper{
    width: 240px;
    height: 135px;
    z-index: 1;
    position: fixed;
    bottom: 5px;
    left: 335px;
}
#camera_preview_expanded{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
}
#ayce_canvas{
    position: absolute;
    z-index: 0;
}
#camera_preview_controls{
    position: absolute;
    z-index: 1;
    width: 100%;
}
#camera_preview_controls > * {
    float: right;
    margin: 5px;
}
#camera_preview_expanded_controls{
    display: none;
    margin: 0;
}
#camera_preview_expanded_controls > * {
    float: right;
    display: block;
    margin: 5px 5px 0px 0px;
}
#camera_preview_view_desktop{
    display: none;
}
#notification{
    display: none;
    background: #0091ff;
    position: fixed;
    z-index: 4;
    border-radius: 3px;
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 20px;
    font-size: 1.3em;
    box-shadow: 0 8px 80px -13px rgba(0, 0, 0, 1);
    opacity: 0;
    animation: showNotification 5s;
}
#notification p{
    display: inline;
}
#notification .fa{
    margin-right: 20px;
}
@keyframes showNotification {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}